
#container {
    margin: 0 auto; 
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#container p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #343a40; 
}

#container input[type="text"],
#container input[type="number"] {
    width: 500px;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}


#container button {
    margin-right: 10px; 
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

#container button:hover {
    background-color: #0056b3; 
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; 
    background-color: #ffffff; 
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.table thead th {
    background-color: #343a40;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    font-size: 16px;
}
