
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #343a40;
}


.card {
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-text {
    font-size: 1em;
    color: #28a745;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 1em;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .card {
        margin: 15px auto;
    }
}

#men, #woment {
    margin-bottom: 40px;
}
